#mainwords{
    font-size: 15vw;
    font-family: "pain-de-mie", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-top: 15vh;
}

#main {
    background-image: url(imgs/beachvid2.gif);
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}
#logo {
    height: 5vh;
}
.body-bg {
    background-image: linear-gradient(#040a3d, #320552);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

iframe {
    width: 50vw;
    height: 50vh;
    margin: 40px;
}

li {
    color: white;
    font-family: "router", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#headings {
    font-size: 10vw;
    color: white;
    font-family: "pain-de-mie", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#resortstuff {
    color: white;
    font-size: 2vw;
}

p {
    font-family:sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    color: white;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color: black;
}

.carousel-inner {
    height: 100%;
}

#carpic {
    width: 40vw;
    height: 30vh;
}

a {
    font-family: "pain-de-mie", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    color: #040a3d;
    font-family: "router", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    margin: auto 0;
    margin-bottom: 0;
    position: fixed;
  left: 0;
  bottom: 0;
}